[opener]
edit = [
{ run = 'helix "$@"', block = true }
]
browser = [
   { run = 'librewolf "$@"', desc = "librewolf"}
]
pinta = [
   { run = 'pinta "$@"', desc = "pinta"}
]

[open]
prepend_rules = [
   { url = "*.pdf", use="browser" },
   { url = "*.png", use = ["browser", "pinta"] },
   { url = "*.jpg", use = ["browser", "pinta"] },
   { mime = "image/TIFF", use = ["browser", "pinta"] },
   { mime = "image/*", use = ["browser", "pinta"] },
   { mime = "video/*", use = "vlc" },
   { mime = "audio/*", use = "vlc" },
]


[mgr]
linemode = "size"

[plugin]
prepend_previewers = [
  { mime = "{image,audio,video}/*", run = "mediainfo"},
  { mime = "application/subrip", run = "mediainfo"},
]
